{% extends "layout.html" %}
{% load static %}
{% block title %}
    Search page
{% endblock %}
{% block content %}
    <div class="search">
        <h1>Your Search Results:{{searched}}</h1>
        {% if Blogs %}
            {% for blog in Blogs %}
                <h4>{{blog.title}}</h4>
                <p>{{blog.introduction|truncatewords:20}}</p>
                <a href="{% url "page" blog.slug%}">Read More</a>
            
            {% endfor %}
        {% else %}
            <p>No results Found</p>
        {% endif %}
    </div>
{% endblock %}