{% extends "layout.html" %}
{% load static %}
{% block title %}
    Contact
{% endblock  %}
{% block content %}
    <h1>Contact Us</h1>

    <div class="contact">
       
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Username</label>
            <input type="text" name="username" id="" required='' placeholder='Username'><br>

            <label for="">Email</label>
            <input type="email" name="email" id="" required=''><br>

            <label for="">Subject</label>
            <input type="text" name="subject" id="" required=''> <br>

            <label for="">Message</label>
            <textarea name="message" id="" required='' placeholder='TYPE YOUR MESSAGE'></textarea><br>

            <button type="submit">Submit</button>

        </form>
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    </div>
{% endblock  %}